* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 5, 7);
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.logo img {
    width: 200px;
}

.navlinks {
    display: flex;
    gap: 20px;
    font-family: fantasy;
}

.navlinks a {
    color: white;
    text-decoration: none;
}

.right {
    display: flex;
    gap: 100px;
    align-items: center;
}

.btns {
    display: flex;
    gap: 20px;
}

.btns button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: cursive;
}

#order {
    background-color: red;
}

.red {
    color: red;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.main {
    width: 100%;
}

.main img {
    width: 100%;
}

.box {
    background-color: black;
}

.text {
    font-family: inter;
    color: white;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px;
}

.container {
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 7%;
}

.card {
    width: 300px;
    text-align: center;
    padding: 5px;
}

.card img {
    width: 100%;
    height: 160px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.card button {
    gap: 40px;
    padding: 12px 35px;
    border-radius: 50px;
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

button {
    padding-top: 40px;
}

.card button:hover {
    background: white;
    color: black;
}

/* section 4 start */
/* section 4 part 1 */

@font-face {
    font-family: inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.franchise {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 40px;
    background-color: #ffffff0f;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

}

.second-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 100px 50px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    font-size: large;
    font-family: inter;

}

.address button {
    border-radius: 50px;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}


.img img {
    width: 400px;
    height: 200px;
    display: block;
}

.city {
    color: red;
}

.red {
    color: white;
    background-color: red;
    border-radius: 50%;
}

.address {
    color: white;
}

/* section 4 end */

.branch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tchild {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.bratxt {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: large;
    font-family: inter;
}

.braimg {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.braimg button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: cursive;
}

h5 {
    color: red;
    font-size: medium;
    font-family: inter;
}

.secsix {
    padding-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.seccon {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;

}

.seccon button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: cursive;
}

.secseven {
    padding-top: 30px;
}

.secseven .hcon {
    color: white;
    font-size: large;
    font-family: inter;
    text-align: center;
}

.secchil {
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.secchil .svencon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: large;
    font-family: inter;
    gap: 20px;
}

.secchil .svencon button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: cursive;
}

/* futurak font family */
@font-face {
    font-family: futurak;
    src: url(./fonts/futurak.ttf);
}

.fnt {
    font-family: futurak;


}

/* section 8 start */
.secth {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.secthcon {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.secthchil {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;

    gap: 30px;

}

.secthtchil {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 30px;

}

.secthimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 30%;
    font-size: x-large;
    font-family: inter;
}

.secthimg p {
    color: red;
}

/* fooeter */
.footer {
    width: 100%;
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #ffffff0f;
}

.footerstchild {
    display: flex;
    flex-direction: column;
}

.footerstimg img {
    width: 200px;

}

.footerstimg {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footerlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footerlist ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footericon button {
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 50px 50px;
    background-image: url(./images/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-size: 5%;

}

i {
    display: flex;
    justify-content: center;
}



